@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Sticky navigation bar */

.navbar {
    position: sticky;
    top: 0;
    background-color: #e7c6ff;
    padding: 4px 15px;
    z-index: 100;
    border-radius: 0.75rem;
}

/* Placeholder styles for images and text */
.image-container {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 10px;
}

.text-container {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    padding: 10px;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    justify-content: right;
    margin-left: auto;

}

.navlogo {
    width: 40px;
    height: 40px;
    border-radius: 0.75rem;
}

.navbar-flex {
    align-items: center;
    display: flex;

}

.header {
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 30px;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

 a :visited {
    color: black;
 }
.img-1 {
    width: 700px;
    height: 540px;
    justify-content: right;
    border-radius: 0.75rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.team1 {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 0.50rem;
}

.guy {
    background-color: #8d99ae77;
    padding: 2px;
    border-radius: 5px;
}

.taco {
    margin-top: 25px;
    width: 1000px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.50rem;
    margin-bottom: 25px;
}

.icons {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.text-padding {
    margin-left: 250px;
    margin-right: 275px;
    margin-bottom: 200px;
}

.img-padding {
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 10px;
}

.hui {
    margin-left: 250px;
    margin-top: 100px;
}

body {
    background-color: #c8b6ff;
    font-family: 'Geologica', sans-serif;
}

.button {
    background-color: rgb(97, 18, 224);
    border-radius: 0.75rem;
}

.button-text {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-left: 250px;
    margin-right: 750px;
    border-radius: 0.75rem;
    text-align: center;
    padding: 10px 15px 10px 15px;
}


.nav-button {
    color: black;
    background-color: white;
    border-radius: 0.75rem;
    padding: 3px 7px 3px 7px;
    display: flex;
    align-items: center;
}

.b-about {
    margin-left: 100px;
    margin-right: 100px;
}

.text-padding1 {
    margin-left: 250px;
    margin-right: 275px;
}

/* Dawid Is Stinky! */

.jobs {
    margin-top: 25px;
    width: 75px;
    height: 75px;
    border-radius: 0.50rem;
}

.center {
    align-items: center;
    justify-content: center;
}

.overflow {
    max-width: 300px;
    max-height: 350px;
    min-width: 300x;
    min-height: 350px;
}

.learning-margin {
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 0.50rem;
}

.text-block {
    max-width: 250px;
    max-height: auto;
}

