@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Sticky navigation bar */

.navbar {
    position: sticky;
    top: 0;
    background-color: #e7c6ff;
    padding: 4px 15px;
    z-index: 100;
    border-radius: 0.75rem;
}

@media (max-width: 640px) {
    .helpme {
        gap: 2px 0;
        flex-direction: column;
    }
    .helpme > div > label ::after {
        content: ":";
    }
    .navlogo {
        display: none;
    }

    .learning-margin {
        margin-left: 10px !important;
        margin-top: 10px !important;
        margin-right: 50px !important;
    }

    .ghp {
        padding-left: 5px !important;
    }

    .img-1 {
        display: none;
    }

    .text-padding1 {
        margin-left: 10px !important;
        margin-top: 10px !important;
        margin-right: 50px !important;
    }

    .navbar-list {
        margin: 5px 0 5px 0 !important;
        padding-left: 0;
    }

    .button-text {
        margin-left: 10px !important;
        margin-top: 10px !important;
        padding-right: 65px !important;
    }

    .navbar-flex {
        justify-content: center;
    }

    .hui {
        margin-top: 10px !important;
        margin-left: 10px !important;
    }

    .text-padding {
        margin-left: 10px !important;
        margin-right: 0px !important;
        margin-bottom: 50px !important;
    }

    .flex-row {
        flex-direction: column !important;
    }

    .team1 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .text-align {
        text-align: left !important;
    }

    .aplication {
        flex-direction: column !important;
    }

    .taco {
        display: none !important;
    }

    .about-font2 {
        margin-left: 5px !important;
        margin-top: 5px !important;
        font-size: 16px !important;
    }

    .move {
        margin-left: 5px !important;
    }

    .icons {
        margin-left: 5px !important;
    }
    .learning-margin {
        margin-left: 5px !important;
    }

}

@media (max-width: 10000px) {
    .pop {
        text-align: center;
    }
}

.about-font {
    font-size: 18px
}

.navbar-list {
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    justify-content: right;
    margin-left: auto
}

.navlogo {
    width: 40px;
    height: 40px;
    border-radius: 0.75rem;
}

.navbar-flex {
    align-items: center;
    display: flex;

}

.header {
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 30px;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a :visited {
    color: black;
}

.img-1 {
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 10px;
    width: 700px;
    height: 540px;
    justify-content: right;
    border-radius: 0.75rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.team1 {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 0.50rem;
}

.guy {
    background-color: #8d99ae77;
    padding: 2px;
    border-radius: 5px;
}

.taco {
    margin-top: 25px;
    width: 1000px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.50rem;
    margin-bottom: 25px;
}

.icons {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.text-padding {
    margin-left: 250px;
    margin-right: 275px;
    margin-bottom: 200px;
}

.hui {
    margin-left: 250px;
    margin-top: 50px;
}

.ghp {
    padding-left: 100px;
}


body {
    background-color: #c8b6ff;
    font-family: 'Geologica', sans-serif;
}



.yay {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(97, 18, 224);
    border-radius: 0.75rem;
}

.button-text {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-left: 250px;
    margin-right: 750px;
    border-radius: 0.75rem;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.aplication {
    align-items: center;
    justify-content: center;
}

.nav-button {
    color: black;
    background-color: white;
    border-radius: 0.75rem;
    padding: 3px 7px 3px 7px;
    display: flex;
    align-items: center;
}

.navbar-list :hover {
    background-color: aquamarine;
}

.b-about {
    margin-left: 100px;
    margin-right: 100px;
}

.text-padding1 {
    margin-left: 250px;
    margin-right: 275px;
}

/* Dawid Is Stinky! */

.jobs {
    margin-top: 25px;
    width: 75px;
    height: 75px;
    border-radius: 0.50rem;
}

.overflow {
    max-width: 300px;
    max-height: 350px;
    min-width: 300x;
    min-height: 350px;
}

.learning-margin {
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 0.50rem;
}

.text-block {
    max-width: 325px;
    max-height: auto;
}

.move {
    margin-left: 125px;
}

.gap {
    gap: 150px;
}

.solid {
    border-style: solid;
    border-radius: 0.50rem;
}